<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="main.js"></script> 
</head>


<div class="slideshow-container">

 
    <div class="mySlides fade">
      <div class="numbertext">1 / 9</div>
      <img src="/Users/salonishah/Desktop/temp/images/image1.jpg" style="width:100%">
      <div class="text">Image One</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 9</div>
      <img src="/Users/salonishah/Desktop/temp/images/image2.jpg" style="width:100%">
      <div class="text">Image Two</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 9</div>
      <img src="/Users/salonishah/Desktop/temp/images/image3.jpg" style="width:100%">
      <div class="text">Image Three</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 9</div>
        <img src="/Users/salonishah/Desktop/temp/images/image4.jpg" style="width:100%">
        <div class="text">Image Four</div>
      </div>

    <div class="mySlides fade">
        <div class="numbertext">5 / 9</div>
        <img src="/Users/salonishah/Desktop/temp/images/image5.jpg" style="width:100%">
        <div class="text">Image Five</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">6 / 9</div>
        <img src="/Users/salonishah/Desktop/temp/images/image6.jpg" style="width:100%">
        <div class="text">Image Six</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">7 / 9</div>
        <img src="/Users/salonishah/Desktop/temp/images/image7.jpg" style="width:100%">
        <div class="text">Image Seven</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">8 / 9</div>
        <img src="/Users/salonishah/Desktop/temp/images/image8.jpg" style="width:100%">
        <div class="text">Image Eight</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">9 / 9</div>
        <img src="/Users/salonishah/Desktop/temp/images/image9.jpg" style="width:100%">
        <div class="text">Image Nine</div>
    </div>

  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="dothings(1)"></span>
    <span class="dot" onclick="dothings(2)"></span>
    <span class="dot" onclick="dothings(3)"></span>
    <span class="dot" onclick="dothings(4)"></span>
    <span class="dot" onclick="dothings(5)"></span>
    <span class="dot" onclick="dothings(6)"></span>
    <span class="dot" onclick="dothings(7)"></span>
    <span class="dot" onclick="dothings(8)"></span>
    <span class="dot" onclick="dothings(9)"></span>
  </div>


 <button class= "start" type="button" onclick="startTimer()">Viewing Session Started</button>
 <button class= "end" type="button" onclick="stopTimer()">Viewing Session Ended</button>

<div class="timer">
    <span id="minutes">0</span> minute(s) 
    <span id="seconds">0</span> seconds.
</div>

<div class="timer1">
    <span id="minutes">0</span> minute(s) 
    <span id="seconds">0</span> seconds.
</div>

